body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.Navbar {
  width: 100%;
  background-color: #333;
  height: 65px
}
.title{
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.Navbar-menu{
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.div{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div:last-child{
  place-self: flex-end;
  margin-right: 25px;
}
.Navbar-link{
  text-decoration: none;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 700;
  
}
.active{
  color: #4169e1;
  font-size: 1.3rem;
}
.container{
  padding: 0;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.container-title{
  margin-top: 0;
  color: #fff;
}
.container-button{
  width: 100px;
  outline: none;
  border: 1px solid #000;
  padding: 0.7em;
  background-color: #00c851;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  place-self: flex-start;
  justify-self: flex-start;
  cursor: pointer;
}
.container-card{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 25px;
  place-items: center;
}
.card,
.card-individual{
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  outline:2px solid royalblue;
  gap: 5px;
}
.card-individual{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
  outline: none;
}

.card-img{
  max-width: 100%;
}
.card-img-i{
  max-width: 50%;
  outline: 2px dashed #000;
}
.card-body,
.card-body-i{
  place-self: flex-start;
}
.card-text,
.card-text-i{
  margin: 0;
  line-height: 1.8rem;
  font-weight: 400;
}
.card-text-i{
  padding: 0.5em;
}
.card-button{
  font-size: 1.2rem;
  font-weight: 700;
  color: crimson;
}
.button-i{
  padding: 0.8em;
  outline: none;
  border: 1px solid royalblue;
  background-color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.button-i:hover{
  background-color: royalblue;
  color: #fff;
}

.search{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 20px;
}
.form{
  display: flex;
  flex-direction: column;
}
.input{
  margin-bottom: 25px;
  padding: 0.5em;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}
.result{
  margin-left: auto;
  margin-right: auto;
  place-self: center;
}
.submit{
  width: 100px;
  outline: none;
  border: 1px solid royalblue;
  background-color: #fff;
  padding: 0.8em;
  border-radius: 5px;
  cursor: pointer;
}
.submit:hover{
  background-color: royalblue;
  color: #fff;
}
.alert{
  width: 400px;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  background-color: #bb2727;
}
.parrafo{
  color: royalblue;
  margin-right: 25px;
  font-size: 1.2rem;
  font-weight: 400;
}
.Button-link{
  outline: none;
  padding: 0.7em;
  border-radius: 5px;
  color: #Fff;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid royalblue;
  background-color: #333;
  cursor: pointer;
}
.Button-link:hover{
  background-color: #fff;
  color:royalblue;
}