body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.Navbar {
  width: 100%;
  background-color: #333;
  height: 65px
}
.title{
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.Navbar-menu{
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.div{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div:last-child{
  place-self: flex-end;
  margin-right: 25px;
}
.Navbar-link{
  text-decoration: none;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 700;
  
}
.active{
  color: #4169e1;
  font-size: 1.3rem;
}
.container{
  padding: 0;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.container-title{
  margin-top: 0;
  color: #fff;
}
.container-button{
  width: 100px;
  outline: none;
  border: 1px solid #000;
  padding: 0.7em;
  background-color: #00c851;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  place-self: flex-start;
  justify-self: flex-start;
  cursor: pointer;
}
.container-card{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 25px;
  place-items: center;
}
.card{
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  outline:2px solid royalblue;
  gap: 5px;
}

.card-img{
  max-width: 100%;
}
.card-body{
  place-self: flex-start;
}
.card-text{
  margin: 0;
  line-height: 1.8rem;
  font-weight: 400;
}
.card-button{
  font-size: 1.2rem;
  font-weight: 700;
  color: crimson;
}